<h1 class="mb-3 mt-3">Add New Book</h1> 
<% if (errors && errors.length > 0) { %> 
    <div class="error-message"> 
        <ul> 
            <% errors.forEach(e => { %> 
                <% if (typeof e === 'string') { %> 
                    <li><%= e %></li> 
                <% } else if (e && e.message) { %> 
                    <li><%= e.message %></li> 
                <% } else { %> 
                    <li><%= JSON.stringify(e) %></li> 
                <% } %> 
            <% }) %> 
        </ul> 
    </div> 
<% } %>
<form action="/books" method="POST"> 
<div class="form-group"> 
    <label for="title">Title *</label> 
    <input class="form-control" type="text" id="title" name="title" value="<%= book? book.title: '' %>" required> 
</div> 
<div class="form-group"> 
    <label for="author">Author *</label> 
    <input class="form-control" type="text" id="author" name="author" value="<%= book? book.author: '' %>" required> 
</div> 
<div class="form-group"> 
    <label for="isbn">ISBN *</label> 
    <input class="form-control" type="text" id="isbn" name="isbn" value="<%= book? book.isbn: '' %>" required> 
</div> 
<div class="form-group"> 
    <label for="publicationYear">Publication Year *</label> 
    <input class="form-control" type="number" id="publicationYear" name="publicationYear" value="<%= book? book.publicationYear: '' %>" required> 
</div> 
<div class="form-group"> 
    <label for="description">Description</label> 
    <textarea class="form-control" id="description" name="description"><%= book? book.description: '' %></textarea> 
</div> 

    <button type="submit" class="btn btn-primary mt-3">Save Book</button> 
    <a href="/books" class="btn btn-secondary mt-3">Cancel</a> 

</form> 